    @import "../../styles/variables";
    .btn-primary {
        background-color: $indigoDye;
        color: white;
        border: none;
        outline: none;
        &:focus {
            box-shadow: 0 0 0 0.2rem $indigoDye !important;
        }
        &:active {
            background-color: $indigoDye !important;
        }
    }
    
    .btn-danger {
        background-color: $blueSapphire;
        color: white;
        border: none;
        outline: none;
        &:focus {
            box-shadow: 0 0 0 0.2rem $blueSapphire !important;
        }
        &:active {
            background-color: $blueSapphire !important;
        }
    }
    
    .close {
        outline: none;
    }