    @import "../../styles/variables";
    .btn-primary {
        background-color: $blueSapphire;
        color: white;
        border: none;
        outline: none;
        &:focus {
            box-shadow: 0 0 0 0.2rem $blueSapphire !important;
        }
        &:active {
            background-color: $blueSapphire !important;
        }
    }
    
    .btn-danger {
        background-color: $burlyWood;
        color: white;
        border: none;
        outline: none;
        &:focus {
            box-shadow: 0 0 0 0.2rem $burlyWood !important;
            background-color: $burlyWood !important;
        }
        &:active {
            background-color: $burlyWood !important;
        }
        &:hover {
            background-color: $burlyWood !important;
        }
    }
    
    .close {
        outline: none;
    }
    
.modal-position{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
