@import '../../../../styles/variables';

h3 {
    text-align: center;
	font-family: $font-roboto;
	font-size: 25px;
    margin-bottom:15px;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: $blueSapphire;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
	font-family: $font-roboto;
}

.countdown-item span {
	color: $blueSapphire;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
    height: 100px;
}

.pathSVG{
    fill:none;
    stroke: $burlyWood; 
    stroke-width: 4;
}
