@import '../../../../styles/variables';

.nav-tabs {
    background-color: $green;
    font: 20px 'Kaushan Script', cursive;
}

a.nav-link,
.navbar-brand {
    color: $yellow;
}

.navbar-brand:hover {
    cursor: default;
}
