$green: #36898C;
$light-green: #6D9C99;
$dark-green: #2B656A;
$yellow: #FEB933;
$white: #fff;
$red: #ff0000;
$black: rgba(0,0,0,.2);

$indigoDye: #2b4162ff;
$blueSapphire: #385f71ff;
$ghostWhite: #f5f0f6ff;
$burlyWood: #d7b377ff;
$frenchBistre: #8f754fff;