<div class="play-bkg d-flex pl-2">
    <div>
        <img src="assets/img/curtain1.jpg" class="fluid w-100" alt="curtain1">
    </div>
    <div>
        <div class="mx-5">
            <div class="search-play form-group form-inline ml-3 pb-2">
                Search: <input class="form-control search-text ml-2" type="text" [formControl]="filter" />
            </div>
        </div>
        
        <table class="table table-striped mx-5">
            <thead class="standard-table">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Play Date</th>
                    <th scope="col">Available Date</th>
                    <th scope="col">Tickets</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let play of filteredPlays$ | async ; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <ngb-highlight [result]="play.playName" [term]="filter.value">{{play.playName}}</ngb-highlight>
                    </td>
                    <td>{{play.playDate}}</td>
                    <td>{{play.availableDate}}</td>
                    <td>
                        <button class="btn btn-sm btn-info">Book</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <img src="assets/img/curtain2.jpg" class="fluid w-100 pr-2" alt="curtain2">
    </div>
</div>