@import '../../../../styles/variables';

.table,
.form-group {
    width: 750px;
    margin: auto;
}
.standard-table {
    background-color: $dark-green;
    color: $white;
}
.table-striped  tbody tr:nth-child(odd){
    background-color: $yellow;
 }

 .search-play,
 .standard-table {
    font: 20px 'Kaushan Script', cursive;
 }

 .play-bkg {
     background-color:	#fbfbfb;
     height: 100vh;
     padding-top: 0.5rem;
 }
//  img {
//      width: 180px;
//      height: auto;
//      position: fixed;
//  }
//  .table {
//     position: relative;
//  }


// @media (min-width: 576px) {
//     {
//          height: 200px;
//      }
// }
// /* Medium devices (tablets)*/
// @media (min-width: 768px) {
//     {
//         height: 300px;
//     }
// }
// /* Large devices (desktops)*/
// @media (min-width: 992px) {
//     {
//         height: 400px;
//     }
// }


