@import '../../../../styles/variables';
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/_functions";
// @import "~bootstrap/scss/_variables";
// @import "~bootstrap/scss/_breakpoints";


.standard-table {
    background-color: $dark-green;
    color: $white;
}
.table-striped  tbody tr:nth-child(odd){
    background-color: $yellow;
 }

 .search-text {
    font: 20px 'Crimson Text', serif;
    color: black;
    
 }

 .play-bkg {
     background-color:#FBF8FB;
 }

 .play-card{
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-radius:5px;
    margin:10px 0;
    overflow-wrap: break-word;
    width: 100%;
    &:hover{
        background-color: #F6F1F7;
    }
    hr{
        margin-top:0;
    }
    .card-header{
        background-color:transparent;
        border:none;
        padding:0;
        text-align:center;
        //width:300px;
        width:100%;
        height: 360px;
        .img-holder{
            width:100%;
            height:100%;
            position: relative;
            .img-holder__content{
                display: none;
            }
            &:hover{
                .img{
                   // opacity: .5;
                    filter: blur(3px) grayscale(80%) brightness(65%);
                }
                
                .img-holder__content{
                    h3{
                    color: $ghostWhite;
                    font-size:30px;
                    font-weight: bold;
                    font-family: 'Kaushan Script', cursive;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    }
                    position: absolute;
                    display: block;
                    height: 40%;
                    width: 80%;
                    //background-color: brown;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 1;
                }
            }
            .img{
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-color: #F6F1F7;
            }
        }
    }
    .card-body{
        padding:10px;
        //font-family: 'Roboto', sans-serif;
        .btn{
            border:none;
            &.book-btn{
                background-color:$indigoDye;
            }
            &.qr-btn{
                background-color:$burlyWood;
                &:focus{
                    box-shadow:0 0 0 0.2rem $ghostWhite !important;
                } 
            }
        }    
    }
 }
 
 .progress-bar {
    background-color: $indigoDye;
}


 .plays__background{
     background-image: url('../../../../assets/img/curtain1.jpg'),url('../../../../assets/img/curtain2.jpg');
     background-position: left top, right top;
     background-repeat: no-repeat;
     background-size: 15% , 15%;
     background-color: #fbfbfb;
 }

 .margin-top-20{
     margin-top: 20px;
 }

 body{
    //background-color: #fbfbfb;
}

.play-horizontal-card{
    //box-shadow: 0 0 8px rgba(0,0,0,.2);
    //background-color: #e9d9d979;
    border-radius:5px;
    margin:10px 0;
    overflow-wrap: break-word;
    width: 100%;
    .qr-btn{
        background-color:$burlyWood;
        border:none;
        &:focus{
            box-shadow:0 0 0 0.2rem $ghostWhite !important;
        }
        &:active{
            background-color:$burlyWood !important;
        }
    }
}

.dayNumber{
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    color: #d1cece;
    font-weight: bold;
}

.month{
    margin-bottom: 1px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    //font-weight: bold;
}

.day{
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
    //font-weight: bold;
}

.playName{
    font-size: 45px;
    font-family: 'Cormorant Garamond', serif;
    //font-weight: bold;
    margin-bottom: 0;
}

.playDate{
    font-size: 32px;
    font-family: 'Cormorant Garamond', serif;
    //font-weight: bold;
}

@include media-breakpoint-down(lg) { 
    .plays__background {
        background-image: none;
      }
 }

//  img {
//      width: 180px;
//      height: auto;
//      position: fixed;
//  }
//  .table {
//     position: relative;
//  }


// @media (min-width: 576px) {
//     {
//          height: 200px;
//      }
// }
// /* Medium devices (tablets)*/
// @media (min-width: 768px) {
//     {
//         height: 300px;
//     }
// }
// /* Large devices (desktops)*/
// @media (min-width: 992px) {
//     {
//         height: 400px;
//     }
// }


