
@import '../../../styles/variables';

.login {
    padding-top:100px;
    padding-bottom:2.8rem;
    background: linear-gradient(50deg, $blueSapphire, $burlyWood);
    height: 100vh;
}
h1 {
    font: 40px 'Kaushan Script', cursive;
}
label {
    font: 25px 'Dancing Script', cursive;
}
.myform {
    position: relative;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    background-color: $ghostWhite ;
    background-clip: padding-box;
    border: 1px solid $black;
    outline: 0;
    max-width: 460px;
    height: 450px;
}
.tx-login {
    text-transform: uppercase;
}
.login-btn {
    position: relative;
    background-color: $blueSapphire;
    color: $white;
    border-radius:50px;
    margin-top: 40px;
    padding: 10px 0;
}
.login-btn:hover {
    background-color: $blueSapphire;
    cursor: pointer;
}
form .error {
    color: $red;
}
