
@import '../../styles/variables';

.standard-table,
.index-header {
    background-color: $blueSapphire;
    color: $white;
    font: 20px 'Kaushan Script'; 
}

.search-play {
    font: 25px 'Kaushan Script'; 
 }

 .search-text {
    font: 20px 'Crimson Text', serif;
    color: black;
    max-width: 300px;
 }

 .standard-table{
    // width: 90%;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 60px;
    text-align: center;
}

.index-rows {
    font: 18px 'Sofia', cursive;
    font-weight: bold;
}
.index-col{
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 .5rem 0.6rem rgba(0,0,0,.15)!important;
}   
