<div class="container">
    <div class="search-play form-group form-inline ml-3 pb-2">
        Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
    <table class="table table-striped">
        <thead class="standard-table">
            <tr>
                <th scope="col">Play Title</th>
                <th scope="col">Free Tickets</th>
                <th scope="col">Booked Tickets</th>
                <th scope="col">Picked-Up Tickets</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr app-dashboard *ngFor="let play of filteredPlays$ | async" [play]=play [filterValue]=filter.value
                (deleteEvent)="deletePlay($event)" (editEvent)=editPlay($event)></tr>
        </tbody>
    </table>

    <button class="btn btn-lg btn-warning" (click)="openAddPlayModal()">Add play</button>

</div>
<router-outlet> </router-outlet>