<td>{{ play.playName }}</td>
<td>{{ play.availableTicketsNumber }}</td>
<td>{{ play.bookedTicketsNumber }}</td>
<td>{{ (play.ticketsNumber - (play.bookedTicketsNumber + play.availableTicketsNumber)) }}</td>


<td class="text-center">
  <button type="button" class="btn btn-danger" (click)="handleDeleteButton()">Delete</button>
  <button type="button" class="btn btn-success" (click)="openEditModal()">Edit Play</button>
  <button type="button" class="btn btn-info" (click)="handleViewTickets()">View Tickets</button>
</td>