<div class="d-flex justify-content-around">
    <div>
      <img src="assets/img/curtain1.jpg" class="fluid w-75" alt="curtain1" />
    </div>

    <table class="table table-striped">
        <thead class="standard-table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Play Date</th>
                <th scope="col">Available Date</th>
                <th scope="col">Registered Date</th>
                <th scope="col">Link</th>
                <th scope="col">Tickets Number</th>
            </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ play.playName }}</td>
            <td>{{ play.playDate }}</td>
            <td>{{ play.availableDate }}</td>
            <td>{{ play.registeredDate }}</td>
            <td>{{ play.link }}</td>
            <td>{{ play.ticketsNumber }}</td> 
          </tr>
        </tbody>
     
      <thead class="standard-table">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Book Date</th>
          <th scope="col">Pickup Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{ ticket.userEmail }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.bookDate }}</td>
          <td>{{ ticket.pickUpDate }}</td>
          <td>
            <div *ngIf="!ticket.pickUpDate">
            <button type="button" (click)="pickUp(ticket)" class="btn btn-info">PickUp</button>
          </div>
         </td>
      </tr>
      </tbody>
    </table>
    <div>
      <img src="assets/img/curtain2.jpg" class="fluid w-75" alt="curtain2" />
    </div>
  </div>
  