@import "../../../styles/variables";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins";
.table,
.form-group {
    width: 750px;
    margin: auto;
}

.standard-table,
.index-header {
    background-color: $blueSapphire;
    color: $white;
}

.tkt-row,
.index-rows {
    background-color: #f5f5f5;
}

.tkt-row:hover {
    background-color: #e0e0e0;
}

.standard-table,
.index-header {
    font-size: 20px;
    font-family: $font-roboto;
}

.search-play {
    font-size: 22px;
    font-family: $font-roboto;
}

.search-text {
    font-size: 18px;
    font-family: $font-roboto;
    color: black;
    max-width: 300px;
}

.tkt-row,
.date-col {
    //font: 20px 'Cookie', cursive;
    font-size: 18px;
    font-family: $font-roboto;
}

.tkt-row,
.standard-table {
    // width: 90%;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 60px;
    text-align: center;
}

.index-rows {
    font-size: 18px;
    font-family: $font-roboto;
    font-weight: bold;
}

.index-col {
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15) !important;
}

.shadow {
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15) !important;
}

.ticket__play-name,
.date-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@include media-breakpoint-down(lg) {
    .play-bkg {
        background-image: none;
    }
}

.ticket__email,
.date-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-info {
    background-color: $burlyWood;
    color: white;
    border: none;
    outline: none;
    &:focus {
        box-shadow: 0 0 0 0.2rem $ghostWhite !important;
    }
    &:active {
        background-color: $burlyWood !important;
    }
}

.play-horizontal-card {
    //box-shadow: 0 0 8px rgba(0,0,0,.2);
    //background-color: #e9d9d979;
    border-radius: 5px;
    margin: 10px 0;
    overflow-wrap: break-word;
    width: 100%;
    .qr-btn {
        background-color: $burlyWood;
        border: none;
        &:focus {
            box-shadow: 0 0 0 0.2rem $ghostWhite !important;
        }
        &:active {
            background-color: $burlyWood !important;
        }
    }
    .card-img__holder{
        height: 360px;
    }
}

.dayNumber {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    color: #d1cece;
    font-weight: bold;
}

.month {
    margin-bottom: 1px;
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    //font-weight: bold;
}

.day {
    font-size: 22px;
    font-family: "Cormorant Garamond", serif;
    //font-weight: bold;
}

.playName {
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    //font-weight: bold;
    margin-bottom: 0;
}

.playDate {
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    //font-weight: bold;
}

.play-date-label {
    margin-bottom: 0rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
}

.img{
    height: 100%;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
}