<div class="d-flex justify-content-around ">
    <div>
        <img src="assets/img/curtain1.jpg" class="fluid w-75" alt="curtain1">
    </div>

    <table class="table table-striped">
        <thead class="standard-table">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Play</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.date }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <img src="assets/img/curtain2.jpg" class="fluid w-75" alt="curtain2">
    </div>
</div>