.table-striped  tbody tr:nth-child(odd){
    background-color: #FEB933;
 }

 .standard-table {
     background-color: #2B656A;
     color: white;
     
 }
 .table {
    width: 900px;
    margin: 100px auto;
}

